<p id="notice"><%= notice %></p>

<p>
  <strong>Source ext:</strong>
  <%= @source_ext.source_ext %>
</p>

<p>
  <strong>Source ext id pk:</strong>
  <%= @source_ext.source_ext_id_pk %>
</p>

<%= link_to 'Edit', edit_source_ext_path(@source_ext) %> |
<%= link_to 'Back', source_exts_path %>
